{% extends "base.html" %}
{% block content %}
{% if user_logged_in %}
  <h1>Luokan {{tehtava.luokka}} tehtävät</h1>

  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Tehtävä</th>
        <th>Luokka</th>
        <th>Tärkeysaste</th>
        <th>Lisätietoa</th>
      </tr>
    </thead>
    <tbody>
    {% for tehtava in tehtavat %}
      <tr>
        <td>{{tehtava.nimi}}</td>
        <td>{{tehtava.luokka}}</td>
        <td>{{tehtava.tarkeys}}</td>
        <td>{{tehtava.lisatieto}}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  {% endif %}
{% endblock %}