  {% extends "base.html" %}
  {% block content %}
    <h1>Lisää Tehtävä</h1>

    <form>
      <div class="form-group">
        <label>Tehtävä</label>
        <input class="form-control" value="Osta maitoa" type="text">
      </div>
      <div class="form-group">
        <label>Luokka</label>
        <input class="form-control" value="Ostokset" type="text">
      </div>
      <label class="radio-inline">Tärkeysaste
          <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> 1
      </label>
      <label class="radio-inline">
        <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> 2
      </label>
      <label class="radio-inline">
        <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> 3
      </label>
      <label class="radio-inline">
        <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> 4
      </label>
      <label class="radio-inline">
        <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> 5
      </label>
      <div class="form-group">
        <label>Lisätietoa</label>
        <textarea class="form-control"> Maito loppu
        </textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-success">Lisää</button>
      </div>
    </form>
  {% endblock %}