{% extends "base.html" %}
{% block content %}
  <h1>Oma Muistilista</h1>
  <p>
  <a href="/tsoha/muistilista/uusi" class="btn btn-success">Lisää tehtävä</a>
  </p>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Tehtävä</th>
        <th>Luokka</th>
        <th>Tärkeysaste</th>
        <th>Lisätietoa</th>
        <th>Poista</th>
      </tr>
    </thead>
    <tbody>
    {% for tehtava in tehtavat %}
      <tr>
        <td>{{tehtava.nimi}}</td>
        <td>{{tehtava.luokka}}</td>
        <td>{{tehtava.tarkeys}}</td>
        <td>{{tehtava.lisatieto}}</td>
        <td><button class="btn btn-danger">Poista</button></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}