{% extends "base.html" %}
  {% block content %}
    {% for tehtava in tehtava %}
    <h1>Muokkaa {{tehtava.nimi}}</h1>

    <form method ="post" action="{{base_path}}/muistilista/{{tehtava.id}}/muokkaa">
      <div class="form-group">
        <label>Tehtävä</label>
        <input name="nimi" class="form-control" type="text" value={{tehtava.nimi}}>
      </div>
      <div class="form-group">
        <label>Luokka</label>
        <input name="luokka" class="form-control" type="text">
      </div>
      <div class="form-group"> 
      <label>Tärkeysaste</label>
      <label class="radio-inline">
          <input type="radio" name="tarkeys" id="inlineRadio1" value="1"> 1
      </label>
      <label class="radio-inline">
        <input type="radio" name="tarkeys" id="inlineRadio2" value="2"> 2
      </label>
      <label class="radio-inline">
        <input type="radio" name="tarkeys" id="inlineRadio3" value="3"> 3
      </label>
      <label class="radio-inline">
        <input type="radio" name="tarkeys" id="inlineRadio4" value="4"> 4
      </label>
      <label class="radio-inline">
        <input type="radio" name="tarkeys" id="inlineRadio5" value="5"> 5
      </label>
      </div>
      <div class="form-group">
        <label>Lisätietoa</label>
        <textarea name="lisatieto" class="form-control" value={{tehtava.lisatieto}}> 
        </textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-success">Muokkaa</button>
      </div>
    </form>
    {% endfor %}
  {% endblock %}